/* Global CSS styles go here. */

/* Set font style for all items on page */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Root layout */
#root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.12);
  margin-top: 3rem;
  min-height: 600px;
  max-width: 960px;
}

/* Main area */
.main-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
}

/* Main contact display */
.contact-display {
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & > * {
    margin: 0;
  }

  & img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

/* Sidebar, with contact list, search bar, and "add contact" button */
.side-bar {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  min-height: 600px;
  position: relative;

  /* Header with search bar */
  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125px;
  }

  /* Search input */
  & input {
    background-color: #c22bf81a;
    border-radius: 8px;
    border-style: none;
    height: 28px;
    width: 188px;
    margin-bottom: 20px;
  }

  /* Contacts list */
  & ul {
    list-style: none;
    max-height: 395px;
    overflow: auto;
    padding: 0;
    margin: 0;
  }
}

/* Individual contact list item */
.contact-list-item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background-color: #f5f0f0;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;

  & img {
    border-radius: 50%;
    height: 60px;
  }

  &:is(.active, :hover) {
    background-color: #e8e4e4;
  }
}

/* "Add contact" button */
.add-contact-button {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0dc61412;
  color: #0dc614;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;

  &:hover {
    background-color: #0dc6141a;
  }

  &:active {
    background-color: #0b9b101a;
  }
}

/* Other buttons on the page */
.button {
  padding: 12px 30px;
  color: #fff;
  background-color: #c22bf8;
  border-radius: 6px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 4px 0px #888888;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #c22bf8;
    box-shadow: 0px 6px 6px 0px #888888;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0px 3px 3px 0px #888888;
    transform: translateY(1px);
  }

  &.red {
    color: #ff030399;
    background-color: #fff;
    border: 2px solid #ff030399;

    &:hover {
      background-color: #ff030399;
      color: #fff;
    }
  }
}

/* Modals (add / edit contact dialogs) */
.modal-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  & > div {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 6px 7px rgba(0, 0, 0, 0.07);
    padding: 20px 100px;
  }
}

/* Add / edit contact form */
.contact-form {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 20px;

  & .centered {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  & .group {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 10px;

    & label {
      text-align: right;
      align-self: center;
    }
  }

  & :is(input, textarea, .select-box) {
    border-radius: 6px;
    border: 2px rgba(0, 0, 0, 0.3) solid;
    background-color: rgba(194, 43, 248, 0.02);
  }

  & :is(input, textarea) {
    padding: 14px 20px;
  }

  & input::placeholder {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 500;
  }

  & label {
    font-size: 16px;
    color: #2c2c2c;
    font-weight: 600;
  }
}
